<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citymall.api.module.goods.mapper.GoodsSkuMapper">

    <select id="selectSkuWithOriginalPriceBySpuId"
            resultType="com.citymall.api.module.goods.vo.GoodsSkuBasePriceVO">
        select
            sku.f_id as skuId,
            sku.spu_id as spuId,
            sku.goods_spec_id as goodsSpecId,
            sku.sku_code as skuCode,
            sku.sku_spec_name as skuSpecName,
            gsr.original_price as originalPrice
        from goods_sku sku
                 left join goods_spec_relation gsr on sku.goods_spec_id = gsr.f_id
        where (sku.f_delete_mark = 0 or sku.f_delete_mark is null)
          and (gsr.f_delete_mark = 0 or gsr.f_delete_mark is null)
          and sku.spu_id = #{spuId}
        order by sku.f_creator_time desc
    </select>

    <select id="selectSkuIdsBySpuIdAndSpecId" resultType="java.lang.String">
        select sku.f_id
        from goods_sku sku
        where (sku.f_delete_mark = 0 or sku.f_delete_mark is null)
          and sku.spu_id = #{spuId}
          and sku.goods_spec_id = #{goodsSpecId}
    </select>

    <select id="selectBySpuId" resultType="com.citymall.api.module.goods.entity.GoodsSku">
        select *
        from goods_sku
        where (f_delete_mark = 0 or f_delete_mark is null)
          and spu_id = #{spuId}
        order by f_creator_time desc
    </select>

    <select id="selectAllSkuWithOriginalPrice"
            resultType="com.citymall.api.module.goods.vo.GoodsSkuBasePriceVO">
        select
            sku.f_id as skuId,
            sku.spu_id as spuId,
            sku.goods_spec_id as goodsSpecId,
            sku.sku_code as skuCode,
            sku.sku_spec_name as skuSpecName,
            gsr.original_price as originalPrice
        from goods_sku sku
                 left join goods_spec_relation gsr on sku.goods_spec_id = gsr.f_id
        where (sku.f_delete_mark = 0 or sku.f_delete_mark is null)
          and (gsr.f_delete_mark = 0 or gsr.f_delete_mark is null)
        order by sku.f_creator_time desc
    </select>

</mapper>